@import 'scss/variables';
@import 'scss/normalize';
@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';
@import 'scss/border-box';


.header {
  background-color:#e39e54;
  font-family: 'Open Sans', sans-serif;
  padding-top:1px;
  padding-bottom: 30%;
}

