@import 'scss/variables';
@import 'scss/normalize';
@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';

/* border-box*/
*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
  background-color:#e39e54;
  font-family: 'Open Sans', sans-serif;
  padding-top:1px;
  padding-bottom: 30%;
}

h1{
  text-align:center;
}



.terminal-screen {
  @include border-image(url(http://i.imgur.com/uIXttnK.png) 46 20 0 124);
  background-color:$black;
  border-radius: 8px;
  border-width:23px 10px 0px 62px;
  margin: 0 auto;
  padding-bottom:350px;
  width:35%;
}



.link {
  padding-right:10px;
}

.cursor {
  @include animation(1s blink step-end infinite);
  display: inline;
  font-weight: 100;
}

.terminal-interface {
  color: $dark-green;
  padding-left: 5%;

  p {
    display:inline-block;
    font-size: 12px;
    margin: 0;
    overflow: hidden;
  }

  &__root {
    width:32%;
    color: $red;
  }

  &__text {
    @include animation(type 4s steps(60, end));
    display:inline-block;
    width: 63%;
  }
}


.terminal-interface--last-char {
  letter-spacing: -3px;
}


@include keyframes(blink) {
  from, to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}

@include keyframes(type) {
  from { width: 0; }
}

