@import 'www/scss/border-box';
@import 'www/scss/variables';

.header{
    margin-top: 350px;
    margin-bottom: 350px;

  &-title{
    color: $red;
    font-family: 'Lato', sans-serif;
    font-size: 80px;
    font-weight: 900;
    text-align:center;
  }

  &-subheading{
    font-size: 40px;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
  }

}