@import 'www/scss/variables';
@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';

.terminal-screen {
  @include border-image(url(http://i.imgur.com/uIXttnK.png) 46 1100 0 0);
  border-width:23px 10px 0px 0px;
  background-color:$black;
  border-radius: 8px;
  margin: 0 auto;
  padding-bottom:250px;
  width:35%;
}



.terminal-interface {
  color: $dark-green;

  p {
    display:inline-block;
    font-size: 12px;
    margin: 0;
    overflow: hidden;
    white-space:nowrap;
  }

  &__root {
    width:32%;
    color: $red;

    //Duplicate of delay below
    &--delay {
      opacity: 0;
      @include animation(fade 0.2s linear 1.2s 2 normal forwards);
    }
  }

  &__text{
    display:inline-block;
    width: 63%;

    &--type{
      @include animation(type 3s steps(40, end));
    }

    &--delay{
      opacity: 0;
      @include animation(fade 0.2s linear 1.2s 2 normal forwards);
    }

    &__packages{
      padding-left: 20px;
    }
  }

  &--last-char {
    letter-spacing: -3px;
  }

}

.link {
  padding-right:10px;
}

.cursor {
  @include animation(1s blink step-end infinite);
  display: inline;
  font-weight: 100;
}



@include keyframes(blink) {
  from, to {
    color: transparent;
  }
  50% {
    color: $dark-green;
  }
}

@include keyframes(fade) {
  0%{
    opacity:1;
  }
  100%{
    opacity:1;
  }
}

@include keyframes(type) {
  from {
    width: 0;
  }
}


